*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  height: 100vh;
  margin: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ghost {
  position: relative;
  width: 300px;
  height: 450px;
  background: linear-gradient(#fff 90%, #121212 90%);
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  overflow: hidden;
  animation: ghost 4s infinite alternate;
}

.ghost_eyes {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ghost_eye {
  width: 70px;
  height: 90px;
  border-radius: 50%;
  background-color: #121212;
  justify-content: center;
  align-items: center;
}

.ghost_eye_pupil {
  position: relative;
  top: 30%;
  left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 101px;
  background-color: #fff;
}

.ghost_leg-box {
  position: absolute;
  bottom: 0;
  width: 400%;
  height: 100px;
  animation: ghost-legs 2.5s linear infinite;
}

.ghost_leg {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: #121212;
  box-shadow: 160px 0 0 #121212,
  -160px 0 0 #121212,
  320px 0 0 #121212,
  480px 0 0 #121212,
  640px 0 0 #121212,
  800px 0 0 #121212,
  960px 0 0 #121212;
}

.ghost_leg:after {
  content: '';
  position: absolute;
  top: -120px;
  left: 160px;
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 320px 0 0 #fff,
  -320px 0 0 #fff,
  640px 0 0 #fff;
}

@keyframes ghost {
  50%
  {
    transform: translateY(-25px);
  }
  100%
  {
    transform: translateY(25px);
  }
}

@keyframes ghost-legs {
  100%
  {
    transform: translate(-640px);
  }
}

h1 {
  font-size: 6em;
  margin: 0;
  color: #eee;
}

p {
  font-size: 2em;
  margin: 0;
  color: #ccc;
}